* {
  padding: 0;
  margin: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background-color: #212429;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.copyright {
  color: rgb(160, 160, 160);
  position: fixed;
  font-size: 12px;
  font-weight: bold;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.nav-pills .nav-link.active {
  background-color: #03be96;
}

.img-thumbnail {
  padding: 0.08rem;
}

.segment-title {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #03be96;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
  margin-bottom: 15px;
}

.year-title {
  font-weight: bold;
  margin-bottom: 10px;
}
.post-title {
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-align: center;
}

.posts-button {
  font-weight: bold;
  background-color: #03be96;
  border-color: #03be96;
  width: 100%;
}

img.hover-post:hover {
  cursor: pointer;
}

img.hover-zoom:hover {
  transform: scale(160%);
}

.work-info {
  text-align: left;
  margin-bottom: 5px;
}

.work-header {
  background-color: #34cb93;
  border-radius: 2px;
}
